<nav class="navbar-pages">
	<div class="navbar-title">
		<h2>{{ 'OPTIONS.INFORMATION'| translate }}</h2>
	</div>
	<ul>
		<li><a routerLink="presentacion" routerLinkActive="active">{{ 'NAVBAR_PAGES.PRESENTATION'| translate }}</a></li>
		<li><a routerLink="convenios" routerLinkActive="active">{{ 'NAVBAR_PAGES.SERVICES'| translate }}</a></li>
		<li><a routerLink="firmas" routerLinkActive="active">{{ 'NAVBAR_PAGES.FIRMAS'| translate }}</a></li>
		<li><a routerLink="members" routerLinkActive="active">{{ 'NAVBAR_PAGES.MEMBERS'| translate }}</a></li>
		<li><a routerLink="product" routerLinkActive="active">{{ 'NAVBAR_PAGES.PRODUCT'| translate }}</a></li>
		<!-- <li><a routerLink="proyectos" routerLinkActive="active">Proyectos</a></li>
		<li><a routerLink="becas-movilidad" routerLinkActive="active">Becas y movilidad</a></li>
		<li><a routerLink="membresias" routerLinkActive="active">Membresías</a></li> -->
		<!--<li><a routerLink="noticias-eventos" routerLinkActive="active">Noticias y eventos</a></li>-->
		<!-- <li><a routerLink="informes-gestion" routerLinkActive="active">Informes de gestión</a></li> -->
		<!--<li><a href="#">Contacto</a></li>-->
	</ul>
</nav>