@if (institution) {

<div class="details-container">

	<div class="section-title">
		<h3>{{ 'DETAIL_COMPANY.DETAIL' | translate }}</h3>
	</div>

	<div class="info-item">
		<img src="assets/info.png" alt="" class="icon-detail">
		<span>{{ 'DETAIL_COMPANY.INFO' | translate }}</span>
	</div>

	<div class="info-item">
		<img src="assets/address.png" alt="" class="icon-detail">
		<span>
			{{ 'DETAIL_COMPANY.ADDRESS_1' | translate }} <br>
			{{ 'DETAIL_COMPANY.ADDRESS_2' | translate }} <br> 
			{{ 'DETAIL_COMPANY.ADDRESS_3' | translate }}
		</span>
	</div>

	<div class="info-item">
		<img src="assets/email.png" alt="" class="icon-detail">
		<a href="mailto:info&#64;iug.de">info&#64;iug.de</a>
	</div>

	<div class="info-item">
		<img src="assets/web.png" alt="" class="icon-detail">
		<a href="https://iug.de" target="_blank">iug.de</a>
	</div>
</div>

<home-photos-section></home-photos-section>

}