<ng-container *ngIf="isCreateMode;  else deleteTemplate">
  <form [formGroup]="createCountryForm" (ngSubmit)="onSubmit()">
    <div class="create-form m-4">
      <div class="form-field mb-3">
        <label for="name">{{ "COUNTRIES.LABEL.NAME" | translate }}</label>
        <input
          #countryNameInput
          pInputText
          type="text"
          id="name"
          formControlName="name"
          autocomplete="off"
        />
      </div>

      <div class="form-field mb-3">
        <label for="abbreviation">{{ "COUNTRIES.LABEL.ABBREVIATION" | translate }}</label>
        <input
          pInputText
          type="text"
          id="abbreviation"
          formControlName="abbreviation"
          autocomplete="off"
        />
      </div>

      <div class="form-field mb-3">
        <label for="isStandardChecked">{{ "COUNTRIES.LABEL.IS_STANDARD" | translate }}</label>
        <p-toggleswitch formControlName="isStandard" class="flex">
          <ng-template #handle let-checked="checked">
            <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
          </ng-template>
        </p-toggleswitch>
      </div>

      <div class="form-actions mt-3">  
        <button
            type="submit"
            class="bttn btn-save"
            [disabled]="createCountryForm.invalid || isLoading">
            <i class="bi bi-check-lg"></i>
            {{ 'BUTTONS.SAVE' | translate }}
        </button>

        <button 
            type="button" 
            class="bttn btn-cancel"
            (click)="closeModal()">
            <i class="bi bi-x-lg"></i>
            {{ 'BUTTONS.CANCEL' | translate }}
        </button>
      </div>
    </div>
  </form>
</ng-container>
<ng-template #deleteTemplate>
  <div class="confirmation-content mb-2 mt-4">
    <p class="mb-4">
      {{ 'COUNTRIES.DELETE.CONFIRM_QUESTION' | translate }}
      <strong class="stronglock mt-1">"{{ countryName }}"</strong>?
    </p>

    <div class="form-actions">
        <button 
            type="button"
            class="bttn btn-delete"
            [disabled]="isLoading"
            (click)="onDeleteConfirm()">
            <i class="bi bi-trash"></i>
            {{ 'BUTTONS.DELETE' | translate }}
        </button>
      
        <button 
            type="button" 
            class="bttn btn-cancel"
            [disabled]="isLoading"
            (click)="onCancel()">
            <i class="bi bi-x-lg"></i>
            {{ 'BUTTONS.CANCEL' | translate }}
        </button>
    </div>
  </div>
</ng-template>
