<div class="photo-gallery">
  <h2 class="gallery-title">{{ 'OPTIONS.PHOTOS' | translate }}</h2>
  <div *ngIf="isLoading" class="loading-message">
    {{ 'COMMON.LABELS.LOADING_PHOTOS' | translate }}...
  </div>
  <div class="gallery-container" *ngIf="!isLoading && photos.length > 0">
    @for (photo of photos; track photo.url) {
    <img [src]="photo.url" alt="Institution Photo" class="photo" (click)="openViewPost(photo.postUuid)" />
    }
  </div>
  <div class="no-photos" *ngIf="!isLoading && photos.length === 0">
    {{ 'COMMON.LABELS.NO_PHOTOS' | translate }}
  </div>
</div>