<div class="form-edit-container">
    <h3 class="form-title">{{ 'COUNTRIES.HEADER.EDIT_COUNTRY' | translate }}</h3>

    <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="form-field">
                <label for="name" class="field-label">{{ "COUNTRIES.LABEL.NAME" | translate }}</label>
                <input
                    pInputText
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-input"
                    [ngClass]="{'ng-invalid ng-dirty': countryForm.get('name')?.invalid && countryForm.get('name')?.touched}"
                    autocomplete="off"
                />
                <small class="error-message" 
                    *ngIf="countryForm.get('name')?.invalid && countryForm.get('name')?.touched && countryForm.get('name')!.hasError('required')">
                    {{ 'COUNTRIES.ERROR.COUNTRY_NAME_REQUIRED' | translate }}
                </small>
                <small class="error-message" 
                    *ngIf="countryForm.get('name')?.invalid && countryForm.get('name')?.touched && countryForm.get('name')!.hasError('minlength')">
                    El nombre debe tener al menos 2 caracteres
                </small>
            </div>
        
            <div class="form-field">
                <label for="areaCode" class="field-label">{{ "COUNTRIES.LABEL.AREA_CODE" | translate }}</label>
                <input
                    pInputText
                    type="text"
                    id="areaCode"
                    class="form-input"
                    formControlName="areaCode"
                    [ngClass]="{'ng-invalid ng-dirty': countryForm.get('areaCode')?.invalid && countryForm.get('areaCode')?.touched}"
                    autocomplete="off"
                />
                <small class="error-message" 
                    *ngIf="countryForm.get('areaCode')?.invalid && countryForm.get('areaCode')?.touched && countryForm.get('areaCode')!.hasError('required')">
                    El código de área es requerido
                </small>
            </div>
        
            <div class="form-field">
                <label for="prefix" class="field-label">{{ "COUNTRIES.LABEL.PREFIX" | translate }}</label>
                <input
                    pInputText
                    type="number"
                    id="prefix"
                    class="form-input"
                    formControlName="prefix"
                    [ngClass]="{'ng-invalid ng-dirty': countryForm.get('prefix')?.invalid && countryForm.get('prefix')?.touched}"
                    autocomplete="off"
                />
                <small class="error-message" 
                    *ngIf="countryForm.get('prefix')?.invalid && countryForm.get('prefix')?.touched && countryForm.get('prefix')!.hasError('required')">
                    El prefijo es requerido
                </small>
                <small class="error-message" 
                    *ngIf="countryForm.get('prefix')?.invalid && countryForm.get('prefix')?.touched && countryForm.get('prefix')!.hasError('min')">
                    El prefijo debe ser mayor a 0
                </small>
            </div>
        </div>
      <div class="form-actions">
        <button
          type="submit"
          class="bttn btn-save"
          [disabled]="countryForm.invalid || !countryForm.dirty || isSaving">
            <i class="bi bi-check-lg"></i>
            {{ 'BUTTONS.SAVE' | translate }}
        </button>
        <button 
            type="button" 
            class="bttn btn-cancel"
            (click)="clearForm()">
            <i class="bi bi-x-lg"></i>
            {{ 'BUTTONS.CANCEL' | translate }}
        </button>
      </div>
    </form>
</div>
<p-toast/>
