<div class="form-edit-container">
    <h3 class="form-title">{{ 'COUNTRIES.HEADER.EDIT_COUNTRY' | translate }}</h3>

    <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center mb-2">
            <div class="form-field">
                <label for="name" class="field-label">{{ "COUNTRIES.LABEL.NAME" | translate }}</label>
                <input
                    pInputText
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-input"
                    [ngClass]="{'ng-invalid ng-dirty': countryForm.get('name')?.invalid && countryForm.get('name')?.touched}"
                    autocomplete="off"
                />
                <small class="error-message" 
                    *ngIf="countryForm.get('name')?.invalid && countryForm.get('name')?.touched && countryForm.get('name')!.hasError('required')">
                    {{ 'COUNTRIES.ERROR.COUNTRY_NAME_REQUIRED' | translate }}
                </small>
            </div>
        
            <div class="form-field">
            <label for="abbreviation" class="field-label">{{ "COUNTRIES.LABEL.ABBREVIATION" | translate }}</label>
            <div class="input-message">
                <input
                pInputText
                type="text"
                id="abbreviation"
                class="form-input"
                formControlName="abbreviation"
                [ngClass]="{'ng-invalid ng-dirty': countryForm.get('abbreviation')?.invalid && countryForm.get('abbreviation')?.touched}"
                autocomplete="off"
                />
                <small class="error-message" 
                    *ngIf="countryForm.get('abbreviation')?.invalid && countryForm.get('abbreviation')?.touched && countryForm.get('abbreviation')!.hasError('required')">
                    {{ 'COUNTRIES.ERROR.ABBREVIATION_REQUIRED' | translate }}
                </small>
            </div>
            </div>
        
            <div class="form-field">
            <label for="isStandardChecked" class="field-label">{{ "COUNTRIES.LABEL.IS_STANDARD" | translate }}</label>
            <p-toggleswitch formControlName="isStandard" class="flex">
                <ng-template #handle let-checked="checked">
                <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
                </ng-template>
            </p-toggleswitch>
            </div>
        </div>
      <div class="form-actions">
        <button
          type="submit"
          class="bttn btn-save"
          [disabled]="countryForm.invalid || !countryForm.dirty || isSaving">
            <i class="bi bi-check-lg"></i>
            {{ 'BUTTONS.SAVE' | translate }}
        </button>
        <button 
            type="button" 
            class="bttn btn-cancel"
            (click)="clearForm()">
            <i class="bi bi-x-lg"></i>
            {{ 'BUTTONS.CANCEL' | translate }}
        </button>
      </div>
    </form>
</div>
<p-toast/>
