<h1 class="members-title">{{ 'NAVBAR_PAGES.MEMBER' | translate }}</h1>

<div class="members-container">
  <div class="member-card" *ngFor="let address of addresses">
     <div class="member-photo">
      <img src="assets/yusuf.jpg" alt="Default Member Photo" class="member-image">
    </div>
    <h3>{{ address.name1 }}{{ address.name2 ? ' ' + address.name2 : '' }}</h3>
    <p *ngIf="address.name3">{{ address.name3 }}</p>
    <p>ID: {{ address.addressId }}</p>
    <p *ngIf="companyName" class="company-name">{{ companyName }}</p>
  </div>
</div>