<div class="modal-backdrop" *ngIf="show">
  <div class="modal">
    <button class="close-btn" (click)="onClose()">&times;</button>
    <h2>Participants</h2>
    <div *ngIf="event">
      <p><b>Evento:</b> {{ event.title }}</p>
      <div *ngIf="loading" class="participants-placeholder">Cargando participantes...</div>
      <div *ngIf="error" class="participants-placeholder">{{ error }}</div>
      <ul *ngIf="!loading && !error && participants.length > 0" class="participants-list">
        <li *ngFor="let p of participants">
          <div class="participant-row">
            <img [src]="p.photoProfilePath || 'assets/user-icon.png'" alt="Usuario" class="participant-avatar" />
            <div class="participant-info">
              <span class="participant-name">{{ p.userName }} {{ p.userLastname }}</span>
              <span class="participant-contact">{{ p.userEmail }}</span>
           <!--   <span class="participant-contact">Registrado: {{ p.registrationDate | date:'medium' }}</span>
              <span class="participant-contact">Estado: {{ p.status }}</span>-->
            </div>
          </div>
        </li>
      </ul>
      <div *ngIf="!loading && !error && participants.length === 0" class="participants-placeholder">No hay participantes registrados.</div>
    </div>
  </div>
</div>
