<div class="container">
  <div class="row">
    <app-general-table
      [tableId]="tableKey"
      [tableValues]="events"
      [columns]="columnsHeaderFieldEvents"
      [dataKeys]="dataKeys"
      [removeKey]="'uuid'"
  (onRowClickEvent)="onViewEvent($event)"
  (onCreateRegister)="onNewEventFromTable()"
  (onDeleteRegister)="handleTableEvents({ type: 'delete', data: $event })"
  (onEditRegister)="onEditEventFromTable($event)"
    ></app-general-table>
    <app-event-modal
      [modalType]="modalType"
      [selectedEvent]="selectedEvent"
      [visible]="isModalVisible"
      (isVisibleModal)="onModalVisibilityChange($event)"
      (eventCreated)="refreshEvents()"
      (eventDeleted)="onEventDeleted($event); refreshEvents()"
      [eventName]="eventName"
    ></app-event-modal>
    <p-toast></p-toast>
  </div>
</div>