.spinner-border-sm {
  width: 0.875rem;
  height: 0.875rem;
  border-width: 0.125rem;
}

.bttn {
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .spinner-border {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.me-2 {
  margin-right: 0.5rem;
}