<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/iug-logor.svg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>{{ 'PRESENTATION.ABOUT_US' | translate }}</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h4>{{ 'PRESENTATION.TEXT_1' | translate }}</h4>
			<p style="text-align: justify;">{{ 'PRESENTATION.TEXT_2' | translate }} <br>

			{{ 'PRESENTATION.TEXT_3' | translate }}
			</p>
			<div class="media-container">
				<img src="../../../assets/info-iug-1.jpg" alt="">
			</div>
		</div>
		<div class="section-content">
			<h3>{{ 'PRESENTATION.TEXT_4' | translate }}</h3>
			<p style="text-align: justify;">{{ 'PRESENTATION.TEXT_5' | translate }} <br>

			{{ 'PRESENTATION.TEXT_6' | translate }} <br>

			{{ 'PRESENTATION.TEXT_7' | translate }} <br>

			{{ 'PRESENTATION.TEXT_8' | translate }}
			</p>
			<h3>{{ 'PRESENTATION.TEXT_9' | translate }}</h3>
			<p style="text-align: justify;">{{ 'PRESENTATION.TEXT_10' | translate }}

				<a href="https://iug.de/images/stories/ueber_uns/auszug_iug.pdf">{{ 'PRESENTATION.TEXT_11' | translate }}</a> 

				{{ 'PRESENTATION.TEXT_12' | translate }} <br>

				{{ 'PRESENTATION.TEXT_13' | translate }}
				
				<a href="https://iug.de/mitgliedschaft/">{{ 'PRESENTATION.TEXT_14' | translate }}</a> 
				
				{{ 'PRESENTATION.TEXT_15' | translate }} <br>

				{{ 'PRESENTATION.TEXT_16' | translate }}
			</p>
		</div>
	</div>

	<div class="page-sections no-border-bottom">
		<div class="section-content">
			<h3>{{ 'PRESENTATION.TEXT_17' | translate }}</h3>
			<h4>{{ 'PRESENTATION.TEXT_18' | translate }}</h4>
			<p style="text-align: justify;">{{ 'PRESENTATION.TEXT_19' | translate }} <br>

				{{ 'PRESENTATION.TEXT_20' | translate }}
			</p>

			<h3>{{ 'PRESENTATION.TEXT_21' | translate }}</h3>
			<div class="d-flex flex-row justify-content-center gap-2">
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/dr-julio.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">DR. JULIO ASPIAZU</h5>
						<p>{{ 'PRESENTATION.TEXT_22' | translate }}</p>
						<p class="card-text">pirAMide Informatik GmbH <br>
						<a href="mailto:j.aspiazu&#64;piramide.de">j.aspiazu&#64;piramide.de</a> <br>
						<a href="www.piramide.de">www.piramide.de</a>
						</p>
					</div>
				</div>
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/walter.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">WALTER KÖNIGSEDER</h5>
						<p>{{ 'PRESENTATION.TEXT_23' | translate }}</p>
						<p class="card-text">Four J's GmbH<br>
						<a href="mailto:walter.koenigseder&#64;4js.com">walter.koenigseder&#64;4js.com</a><br>
						<a href="www.4js.com">www.4js.com</a>
						</p>
					</div>
				</div>
			</div>

			<br>
			<h3>E{{ 'PRESENTATION.TEXT_24' | translate }}</h3>
			<div class="d-flex flex-row justify-content-center gap-2 m-3">
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/oliver.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h6 class="card-title">{{ 'PRESENTATION.TEXT_25' | translate }} <b>OLIVER ICKLER</b></h6>
						<br>
						<p class="card-text">iBiSS Software Solutions GmbH<br>
						<a href="mailto:oickler&#64;ibiss.de">oickler&#64;ibiss.de</a><br>
						<a href="www.ibiss.biz">www.ibiss.biz</a>
						</p>
					</div>
				</div>
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/LarsWehner.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h6 class="card-title">{{ 'PRESENTATION.TEXT_25' | translate }} <b>LARS WEHNER</b></h6>
						<br>
						<p class="card-text">CSS AG<br>
						<a href="mailto:lars.wehner&#64;css.de">lars.wehner&#64;css.de</a><br>
						<a href="www.css.de">www.css.de</a>
						</p>
					</div>
				</div>
			</div>
			<div class="d-flex flex-row justify-content-center gap-2">
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/fedor.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h6 class="card-title">{{ 'PRESENTATION.TEXT_25' | translate }} <b>FEDOR SCHÖNHALS</b></h6>
						<br>
						<p class="card-text">IT-Schoenhals<br>
						<a href="mailto:fedor&#64;it-schoenhals.de">fedor&#64;it-schoenhals.de</a> <br>
						<a href="www.it-schoenhals.de">www.it-schoenhals.de</a>
						</p>
					</div>
				</div>
				<div class="card" style="width: 15rem;">
					<img src="../../../assets/Andreas.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h6 class="card-title">{{ 'PRESENTATION.TEXT_25' | translate }} <b>ANDREAS WEININGER</b></h6>
						<br>
						<p class="card-text">IBM Deutschland GmbH<br>
						<a href="mailto:andreas.weininger&#64;de.ibm.com">andreas.weininger&#64;de.ibm.com</a> <br>
						<a href="www.ibm.de">www.ibm.de</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</div>