<ng-container *ngIf="isCreateMode; else deleteTemplate">
    <form [formGroup]="createTitleForm" (ngSubmit)="onSubmit()">
        <div class="align-items-center m-4">
            <div class="create-form mb-3"> 
                <label for="titleName" >{{ 'TITLE.FORM.NEW_TITLE' | translate }}</label>
                <input #titleInput 
                    pInputText 
                    type="text" 
                    id="titleName" 
                    formControlName="name" 
                    [ngClass]="{'error': createTitleForm.get('name')?.invalid && createTitleForm.get('name')?.touched}" 
                    autocomplete="off"/>

                <small class="error-message" 
                *ngIf="createTitleForm.get('name')?.invalid && createTitleForm.get('name')?.touched && createTitleForm.get('name')!.hasError('required')">
                {{ 'TITLE.ERROR.TITLE_LABEL_REQUIRED' | translate }}
                </small>
            </div>

            <div class="form-actions mt-3">
                <button 
                    type="submit" 
                    class="btn btn-save"
                    [disabled]="createTitleForm.invalid || isLoading">
                    <i class="bi bi-check-lg"></i>
                    {{ 'BUTTONS.SAVE' | translate }}
                </button>
                <button 
                    type="button" 
                    class="btn btn-cancel"
                    (click)="closeModal()">
                    <i class="bi bi-x-lg"></i>
                    {{ 'BUTTONS.CANCEL' | translate }}
                </button>
            </div>
        </div>
    </form>
</ng-container>

<ng-template #deleteTemplate>
    <div class="confirmation-content m-3">
        <p class="mb-4">
            {{ 'TITLE.DELETE.CONFIRM_QUESTION' | translate }}
            <strong class="stronglock mt-1">"{{ titleName }}"</strong>?
        </p>

        <div class="form-actions">
            <button 
                type="button"
                class="btn btn-delete"
                (click)="onDeleteConfirm()">
                <i class="bi bi-trash"></i>
                {{ 'BUTTONS.SAVE' | translate }}
            </button>
            <button 
                type="button" 
                class="btn btn-cancel"
                (click)="closeModal()">
                <i class="bi bi-x-lg"></i>
                {{ 'BUTTONS.CANCEL' | translate }}
            </button>
        </div>
    </div>
</ng-template>