<h1 class="companies-title">{{ 'NAVBAR_PAGES.FIRMAS'| translate }}</h1>
<!-- Controles para cambiar el idType (opcional) -->
<div class="controls-container">
  <label for="idType">Customer Type:</label>
  <select id="idType" (change)="changeIdType($event)" [(ngModel)]="idType">
    <option *ngFor="let type of customerTypes" [value]="type.id">{{ type.name }}</option>
  </select>
</div>
<div class="companies-container">
  <div class="company-card" *ngFor="let customer of customers">
    <div class="company-photo">
      <img src="assets/user-icon.png" alt="Default Company Logo" class="company-image">
    </div>
    <h3>{{ customer.name1 }}</h3>
    <p class="customer-number">Número: {{ customer.customerNumber }}</p>
    <p class="customer-id">ID: {{ customer.customerId }}</p>
  </div>
</div>

