<div class="photos-container">


  <div class="section-title">
    <h3>{{ 'OPTIONS.PHOTOS' | translate }}</h3>
    <a href="/fotos">{{ 'COMMON.LABELS.SEE_MORE' | translate }}</a>
  </div>

  <div *ngIf="isLoading" class="loading-message">
    {{ 'COMMON.LABELS.LOADING_PHOTOS' | translate }}...
  </div>

  @if (!isLoading && photos.length > 0) {
  <div class="grid-container">
    @for (photo of photos; track photo.url) {
    <img src="{{ photo.url }}" alt="Foto de {{ institution.name }}" (click)="openViewPost(photo.postUuid)">
    }
  </div>
  }

  <div class="no-photos" *ngIf="!isLoading && photos.length === 0">
    {{ 'COMMON.LABELS.NO_PHOTOS' | translate }}
  </div>

</div>

