<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/iug-logor.svg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>{{ 'NAVBAR_PAGES.SERVICES' | translate }}</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h4 style="text-align: justify;">{{ 'SERVICES.TEXT_1' | translate }}</h4>
			<p style="text-align: justify;">{{ 'SERVICES.TEXT_2' | translate }}</p>
		</div>
		<div class="section-content">
			<div class="d-flex flex-row gap-2">

				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-calendar4-week pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">{{ 'SERVICES.TEXT_3' | translate }}</h5>
						<br>
						<p style="text-align: center;">{{ 'SERVICES.TEXT_4' | translate }}</p>
					</div>
				</div>
				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-hdd-stack pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">T{{ 'SERVICES.TEXT_5' | translate }}</h5>
						<br>
						<p style="text-align: center;">{{ 'SERVICES.TEXT_6' | translate }}</p>
					</div>
				</div>
				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-card-text pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">{{ 'SERVICES.TEXT_7' | translate }}</h5>
						<br>
						<p style="text-align: center;">{{ 'SERVICES.TEXT_8' | translate }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content">
			<div class="d-flex flex-row gap-2">

				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-mortarboard-fill pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">{{ 'SERVICES.TEXT_9' | translate }}</h5>
						<br>
						<p style="text-align: center;">{{ 'SERVICES.TEXT_10' | translate }}</p>
					</div>
				</div>
				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-globe pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">{{ 'SERVICES.TEXT_11' | translate }}</h5>
						<br>
						<p style="text-align: center;">{{ 'SERVICES.TEXT_12' | translate }}</p>
					</div>
				</div>
				<div class="card" style="width: 15rem; background-color: #EEEEEE; align-items: center;">
					<i class="bi bi-info-circle-fill pt-2" style="color:#e7642e !important; font-size: xx-large; font-weight: 700;"></i>
					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">{{ 'SERVICES.TEXT_13' | translate }}</h5>
						<br>
						<p style="text-align: center;">{{ 'SERVICES.TEXT_14' | translate }}</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>



	


</div>